<h1>Add Stores to List</h1>
<br>
<form action="/stores/new" method="post">
  <label for="new-store">Add a store: </label><em> (ex: Bill's Shoe Haus)</em>
  <input type="text" name="new-store">
  <button type="submit">Submit</button>
</form>
