<h1>Add Shoes to List</h1>
<br>
<form action="/shoes/new" method="post">
  <label for="new-shoe">Add a shoe: </label><em> (ex: Converse)</em>
  <input type="text" name="new-shoe">
  <label for="new-shoe-cost">Cost: $ </label><em> (ex: 45)</em>
  <input type="number" name="new-shoe-cost">
  <button type="submit">Submit</button>
</form>
