<h1>Store List</h1>
<br>
<% if @stores.any? %>
  <ul>
    <% @stores.each do |store| %>
      <li><a href="/store/<%= store.id %>"><%= store.name %></a></li>
    <% end %>
  </ul>
<% else %>
<em>there are no stores in the database</em>
<% end %>
