.nav {
  text-align: center;
}
.nav a {
  margin: 0 12px;
}
ul {
  list-style: none;
  padding: 0;
}
.nav {
  margin-top: 2em;
  border-bottom: solid 1px black;
}
.nav ul {
  width: 100%;
  text-align: justify;
}
.nav ul li {
  display: inline-block;
  width: 18%;
  text-align: center;
  vertical-align: top;
  border: solid 1px black;
  padding: 1em;
}
.nav ul a {
  color: inherit;
}
.nav ul a:hover {
  text-decoration: none;
}
.nav ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}
input, select {
  display: block;
  margin-bottom: 1em;
  width: 200px;
  border: solid 1px black;
}
button {
  border: solid 1px black;
  background-color: white;
}
.warning {
  border: solid 1px red;
  color: red;
}
select {
	background: white;
	border: 1px solid black;
}
.shoe-list {
  width: 200px;
  display: inline-block;
}
.shoe-list li {
  border-bottom: solid 1px #eee;
}
.shoe-list li span {
  float: right;
}
